*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared Style */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2 {
font-size: 45px;
font-weight: 900;
}

.color-orange {
    color: #FD6E0A;
}

.btn {
    background-color: #FD6E0A;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

/* Main Styles */

header {
    background-color: #FFF8F3;
    padding-top: 50px;
}

nav {
    width: 80%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 51px
}

nav .menu a {
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}